# --- Python (Backend) ---
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Data & Models (Nên bỏ qua vì file nặng)
backend/data/

# --- Node/React (Frontend) ---
node_modules/
npm-debug.log
yarn-error.log
.next/
build/
dist/
.DS_Store

# --- IDE/Editor ---
.vscode/
.idea/